<label for="ServerName">Server Name</label>
<!-- Event Binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
 <!-- 2-way Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, Name is {{ serverName }}</p>
<!-- Alternative if implementation -->
<!-- @if (serverCreated) {
    <p>Server was created, Name is {{ serverName }}</p>
} else {
    <p>No server was created!</p>
} -->
<app-server *ngFor="let server of servers"></app-server>
<!-- alternative to ngFor -->
 <!-- @for (server of servers; track server) {
    <app-server></app-server>
 } -->

